@font-face {
  font-family: "HelveticaNeueLTStd-Bd";
  src: url("/fonts/HelveticaNeueLTStd-Bd.otf") format("opentype");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeueLTStd-Bd", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background: white;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  font-size: 4.5rem;
  margin: 0;
}

p {
  font-size: 2rem;
  margin: 10px 0;
  font-weight: 800;
}

.black-background {
  background-color: black;
  color: white;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
}

.bar {
  width: 10vw;
  height: 105vh;
  background: #000;
}

.counter {
  position: fixed;
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  color: #fff;
  font-size: 40vw;
  padding-bottom: 20rem;
  font-family: "Angkor";
}

path,
polygon {
  stroke: transparent;
  stroke-width: 0.5;
  fill: transparent;
}


.creo {
  font-size: 8vw;
  margin: 0;
  white-space: nowrap;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#requires-creo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.dynamic-text {
  font-size: 5vw;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.growth-part, .rethinking-part, .creo-part {
  opacity: 0;
  transform: translateY(20px);
}

.rethinking-part {
  order: 1;
}

.creo-part {
  order: 2;
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.black-line {
  position: relative;
}

.black-line svg {
  width: 10rem;
  stroke: #000;
  height: 40vh;
  position: absolute;
  bottom: 0;
}

.black-line h2 {
  font-size: 6vw;
  margin: 0;
  white-space: nowrap;
}

.white-line {
  position: relative;
}

.white-line svg {
  width: 10rem;
  stroke: #fff;
  height: 40vh;
  position: absolute;
  top: 0;
}

.white-line h2 {
  font-size: 8vw;
  margin: 0;
  white-space: nowrap;
}

.mindset-line-container {
  position: relative;
}

.mindset-line {
  position: absolute;
  height: 2px;
  background-color: white;
  width: 0;
  bottom: -5px;
  left: 51%;
}

.mindset-line2 {
  position: absolute;
  height: 0;
  svg {
    width: 20rem;
    stroke: #fff;
    height: 52vh;
    position: absolute;
    top: -0.4rem;
    left: 20rem;
  
  }
}

#to-rethink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#to-rethink h2 {
  font-size: 4rem;
  position: relative;
}

#to-rethink .re {
  opacity: 0;
  position: absolute;
  left: 40%;
  top: 0;
}

#to-rethink .think {
  display: inline-block;
  left: 50%;
  background: white;
}

.assimilating-line-container {
  position: relative;
}

.assimilating-line {
  position: absolute;
  height: 0;
  background-color: black;
  width: 10rem;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 60%;
}

.assimilating-line-container2 {
  position: relative;
}

.assimilating-line2 {
  position: absolute;
  height: 0;
  background-color: black;
  width: 10rem;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 90%;
}

.growth-thinking {
  margin-top: 3rem;
}

.growth-thinking h1 {
  transform: rotate(90deg);
  font-weight: 800;
  font-size: 8rem;
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-weight: bold;
}

button svg {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

button svg path {
  fill: black;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 0.2rem;
}

footer p {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 500;
  color: darkgray;
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.separator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.separator-line {
  position: absolute;
  width: 40px;
  height: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.separator-line.visible {
  opacity: 1;
}

.separator-line:last-child {
  z-index: 1;
}